<!-- _includes/image.html -->
<div class="image-wrapper" >
    {% if include.url %}
        <a href="{{ include.url }}" title="{{ include.title }}" target="_blank">
    {% endif %}
        <img src="{{ site.url }}/public/img/{{ include.img }}" {% if include.fallback %}onerror="this.src={{ site.url }}/public/img/{{ include.fallback }}"{% endif  %} {% if include.title %}alt="{{ include.title }}"{% elsif include.caption%}alt="{{ include.caption }}"{% endif %}/>
    {% if include.url %}
        </a>
    {% endif %}
    {% if include.caption %}
        <p class="image-caption">{{ include.caption }}</p>
    {% endif %}
</div>
